<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product List</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h1>Product List</h1>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-10 ">
                {{#each products}}
                <div class=" productDiv d-inline-block card m-3" id={{_id}} style="width: 16rem;">
                    <img src="gravatar.png" style="width:16rem" class="card-img-top" alt="...">
                    <div class="card-body">
                        <input type="hidden" value={{_id}}>
                        <p>{{_id}}</p>
                        <h5 class="card-title">{{productName}}</h5>
                        <p class="card-text">{{productDescription}}</p>
                        <h4>{{price}}</h4>
                        <form action="/user/cart" method="POST">
                            <input type="hidden" value={{_id}} name="id">
                            <button type="submit" class="btn btn-primary">Add to cart</button>
                        </form>


                    </div>

                </div>
                {{/each}}
            </div>
        </div>


    </div>
    <script src="js/productList.js"></script>
</body>

</html>