<!DOCTYPE html>
<html class="no-js">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Profile</title>
  <link rel="icon" href="/uploads/e.ico" sizes="200x200">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
    integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <link rel="stylesheet" href="styleHome.css">
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://fonts.googleapis.com/css?family=Long+Cang&display=swap" rel="stylesheet" />
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
  <link rel="stylesheet" href="./../search.css">

</head>

<body>
  <!-- header starts -->
  <nav class="navbar navbar-expand-md navbar-light fixed-top" style="background-color: #ffa500; height: 60px">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- <span class="navbar-toggler-icon"></span> -->
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <a href="/" class="navbar-brand"><img style="margin-left: 10px;" src="icon.png" /> </a>
        <form class="form-inline my-2 my-lg-0">
          <div class="wrap">
            <div class="search mr-5" style="float: right">
              <input type="text" class="searchTerm" placeholder="What are you looking for?" />
              <button type="submit" style="background-color: #ffa500; border-color: #ffa500;" class="searchButton mt-1">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
        </form>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="/user" class="nav-link mr-3"><i class="fa fa-user"></i><span class="text-dark"
                style="font-size: 15px;"> My Account</span></a>
          </li>
          <li class="nav-item">
            <a href="/user/orderHistory" class="nav-link mr-3"><i class="fas fa-truck-loading"></i> <span
                class="text-dark" style="font-size: 15px;">Order
                History</span></a>
          </li>
          <li class="nav-item" style="margin-right: 30px">
            <a href="/user/cart" class="nav-link"><span class="badge badge-secondary">{{cartLength}}</span><i
                class="fa fa-shopping-cart"></i><span class="text-dark" style="font-size: 15px;">Cart</span></a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
  <!-- header ends -->

  <div class="container" style="background-color;">
    <h1 class="d-inline-block" style="margin-top: 80px"> User Profile</h1>


    <form action="delete" method="POST" class="d-inline-block" style="margin-left: 58%">
      <input type="hidden" name="id" value={{_id}}>
      <button style="margin-left: 89%;" type="submit" class="btn btn-light border border-dark">Delete Account</button>

    </form>

    <br>


    {{!-- <div style="margin-left: 89%" class="d-inline-block"><a href="/userLogout"><button
          class=" mr-auto btn btn-light border border-dark d-inline-block">Logout</button></a></div> --}}


    <div class="card mb-3 mt-4 shadow p-3  bg-white rounded border border-secondary">
      <div class="row no-gutters">
        <form action="/user/image" method="POST" enctype="multipart/form-data" style="width:450px;">

          <div class="col-md-4">
            <img src={{userImage}} style="width: 250px; height: 250px" class="card-img img-rounded" alt="..." /><br>
            <br>
            <input type="file" name="file"><br><br>
            <button type="submit">Upload</button>
          </div>

        </form>
        <div class="col-md-4" style="font-size:small;">
          <div class="card-body">
            <p class="card-title mt-2 d-inline-block"><i class="fa fa-user fa-2x"
                style="color: #2a1a5e;font-size: 26px;"> {{userName}}</i>

            </p>

            <br>
            <br>
            <p class="card-title mt-2 d-inline-block"><i class="fa fa-envelope fa-2x"
                style="color: #2a1a5e;font-size:x -large"> {{userEmail}}</i>

            </p>
            <br>
            <br>
            <p class="card-title mt-2 d-inline-block"><i class=" fa fa-mobile fa-2x"
                style="color: #2a1a5e; padding-right:10px"></i>
              <h4 class="d-inline-block"> {{userMobile}}</h4>
            </p>
            <br>
            <br>
            <a href="/user/edit"><button style="width:150px; background-color:#ffa500; padding-right:10px;"
                class="btn btn-light">Edit
                Profile</button></a>
          </div>
        </div>

      </div>
    </div>

    <div class="row ">
      <div class="col-md-4 ">
        <div class="card shadow p-3  bg-white rounded border border-secondary" style="height: 350px;width: 100%">
          <a href="/user/address"><i style="margin-left: 42%; margin-top: 36%; font-size: 60px"
              class="fa fa-plus-circle d-inline-block"></i></a>
          <h5 class="text-center">Add new address</h5>

        </div>
      </div>

      {{#each userAddresses}}
      <div class="col-md-4">
        <div class="card mb-2" style="height: 350px;">
          <div class="card-body ">
            <h5 class="card-title">State: <p class="d-inline-block lead text-dark">{{state}}</p>
            </h5>
            <h5 class="card-title ">City: <p class="d-inline-block lead text-dark">{{city}}</p>
            </h5>
            <h5 class="card-title ">Pin: <p class="d-inline-block lead text-dark">{{pin}}</p>
            </h5>
            <h5 class="card-title ">Landmark: <p class="d-inline-block lead text-dark">{{landmark}}</p>
            </h5>
            <h5 class="card-title ">Locality: <p class="d-inline-block lead text-dark">{{locality}}</p>
            </h5>

            <form class="d-inline-block" action="/user/address/{{_id}}" method="POST"><button
                type="submit">Remove</button></form>

          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>

  <div>
    <h5 class="text-white">Downloads</h5>
    <footer class="w-100 footer">
      <div class="container bottom_border">
        <div class="row">
          <div class=" col-sm-4 col-md col-sm-4  col-12 col">
            <h5 class="headin5_amrc col_white_amrc pt2">Download Our App</h5>
            <li class="list-inline-item">
              <a href="#" target="_blank"><img
                  src="https://www.vectorvest.com/wp-content/themes/vectorvest/images/social-appstore-white.png"
                  class=" mb-3" alt=""></a>
            </li>
            <li class="list-inline-item">
              <a href="#" target="_blank"><img
                  src="https://www.vectorvest.com/wp-content/themes/vectorvest/images/social-googleplay-white.png"
                  class=" mb-3" alt=""></a>
            </li>
            </ul>
          </div>
          <div class=" col-sm-4 col-md  col-6 col">
            <h5 class="headin5_amrc col_white_amrc pt2">Our Company</h5>
            <ul class="footer_ul_amrc">
              <li><a href="#">Home</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Careers</a></li>
              <li><a href="#">Pricing</a></li>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Sell On EthnicHub</a></li>

            </ul>

          </div>


          <div class=" col-sm-4 col-md  col-6 col">
            <h5 class="headin5_amrc col_white_amrc pt2">Privacy Policies</h5>

            <ul class="footer_ul_amrc">
              <li><a href="#">Terms & Conditions</a></li>
              <li><a href="#">Policy For Sellers</a></li>
              <li><a href="#">Policy For Buyers</a></li>
            </ul>
          </div>
          <div class=" col-sm-4 col-md  col-12 col">
            <h5 class="headin5_amrc col_white_amrc pt2">Payment Options</h5>
            <a href="#"><img src="images.jfif"></a>
          </div>
        </div>
      </div>
      <div class="container">
        <p class="text-center">© 2020 EthnicHub ®. All Rights Reserved.</p>
        <ul class="social_footer_ul">
          <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="#"><i class="fab fa-twitter"></i></a></li>
          <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        </ul>
    </footer>
  </div>

  <!-- footer ends -->

  <script src="" async defer></script>
</body>

</html>